* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    font-size: 16px;
}
html {
    scrollbar-width: none;
    overflow: hidden;
}
html::-webkit-scrollbar {
    display: none; 
}